
/* large Screen */
@media only screen and (min-width: 1600px) and (max-width: 2800px) {
    .slider-content h1 {
        margin-bottom: 20px;
    }
    .slider-content {
        top: 210px;
    }
    footer.footer-area {
        padding: 50px 0;
    }
}

/* Medium Screen */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-service-box h3,
    .single-news-box .n-content h3 {
        font-size: 20px;
    }
    .single-service-box p {
        min-height: 290px;
    }
    .slider-content h2 {
        font-size: 43px;
        margin-bottom: 15px;
    }
    .slider-content p {
        font-size: 30px;
    }
    .slider-content input.btn {
        padding: 20px 40px;
        margin-top: 10px;
    }
    .slider-content {
        top: 15%;
    }
    .mainmenu ul li a {
        padding: 0 15px;
        font-size: 16px;
    }
    div#homepage-sliders .owl-dots {
        bottom: 20px;
        left: 40%;
    }
    .signup-form input.sup-input {
        padding: 20px;
    }
    .signup-form p{
	    margin-bottom: 0;
    }
    input.sup-btn {
        padding: 20px 30px;
        float: none;
    }
    .form-btn {
        margin: 15px auto;
        display: inline-block;
    }

    .logo img {
        width: auto;
    }

    .h-btn {
        margin-left:5px;
    }
    input.btn.donate {
        font-size: 16px;
        padding: 18px 25px;
        padding-left: 25px;
        letter-spacing: 0;
        padding-left: 45px;

    }
    .h-btn {
        margin-top: 78px;

    }
}

@media only screen and (min-width: 990px) {
    .w-20 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 20% !important;
      flex: 0 0 20% !important;
      max-width: 20%;
    }
}

/* Tablet Screen  768px*/
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .wrapper {
        display: block;
    }

    .mainmenu {
        display: none;
    }
    .header-top-area p span {
        font-size: 16px;
        color: #959595;
    }
   .col-md-4 {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .h-btn {
        margin-top: 20px;
        margin-left: 20px;
        width: 100%;
    }
    .logo img {
        width: auto;

    }
    .h-t-addres-sec {
        margin-top: 0;
    }
    .h-contact,
    .h-address {
        margin-top: 25px;
    }
    .slider-content input.btn {
        padding: 20px 40px;
        margin-top: 10px;
    }
    .slider-content p {
        font-size: 24px;
    }
    .slider-content {
        top: 10%;
        text-align: center;
    }
    .slider-content h2 {
        font-size: 36px;
    }
    div#homepage-sliders .owl-dots {
        bottom: 10px;
        left: 40%;
    }
    input.btn.donate {
        margin-left: 10px;
        letter-spacing: 0;
    }
    .about-text ul {
        margin-right: 25px;
    }
    .single-service-box {
        text-align: center;
        margin-bottom: 30px;

    }
    .signup-form input.sup-input {
        width: 223px;
        padding: 18px 25px;

    }
    .signup-form p{
	    margin-bottom: 0;
    }
    input.sup-btn {
        padding: 20px 30px;
        float: unset;

    }
    div#recent-news-slider button.owl-next {
        right: 20%;
    }
    div#recent-news-slider button.owl-prev {
        left: 25%;
    }
    .form-btn {
        display: inline-block;
        margin: 20px 0;

    }
    .logo.clearfix {
        text-align: center;
    }
}

@media only screen and (max-width:989px) {
    .address-column, .contact-column {
        display: none !important;
    }
    .h-top-links-sec {
        width: 100%;
    }
}
/* Mobile Screen  320px*/
@media only screen and (max-width: 768px) {
    .wrapper {
        display: block;
    }
    
    .h-top-links-sec .h-s-text,
    .h-top-links-sec .h-s-text a {
        font-size: 13px;
    }

    .mainmenu {
        display: none;
    }
    section#mainmenu-area {
        display: none;
    }
    
    section.wrapper.mobile-menu-area {
        top: 25px;
    }
    
    div#homepage-sliders .owl-dots {
        bottom: 0;
        left: 34%;
    }
    .single-slider .slider-bg {
        max-height: 300px;
    }
    .slider-content h2 {
        font-size: 24px;
        margin-bottom: 7px;
    }
    .slider-content p {
        font-size: 20px !important;
    }
    .slider-content .btn {
        padding: 10px 20px;
        margin-top: 0;
    }
    div#homepage-sliders .owl-dots {
        display: none;
    }
    .single-service-box p {
        min-height: auto;
    }
    .single-service-box {
        text-align: center;
        min-height: auto;
        margin-bottom: 20px;
    }
    .slider-content {
        top: 0;
        text-align: center;
    }
    .services-area {
        padding: 50px 0;
    }
    .about-area {
	    padding: 20px 0;
        text-align: center;
    }
    .about-area .about-box {
        margin: 20px;
    }
    .about-text ul {
        width: 45%;
        margin: 0;
        padding: 0;
        text-align: left;
        margin-left: 5%;
    }
    .h-address {
        margin-top: 20px;
        display: inline-block;
        padding-top: 20px;
    }

    .h-btn {
        margin-top: 0;
    }
    .h-contact {
        margin-top: 0px;
        display: inline-block;
    }
    .logo img {
        width: auto;
    }
    .h-t-addres-sec {
        text-align: center;
    }
    .about-text ul li a {
        font-size: 18px;
    }
    #recent-news-slider.row {
        margin: 0;
    }
    div#recent-news-slider button.owl-prev {
        left: 3%;
    }
    div#recent-news-slider button.owl-next {
        right: 0;
    }
    .r-news-area .more-post h3 a {
        font-size: 20px;
    }
    .signup-form input.sup-input {
        width: 100%;
        float: unset;
        padding: 6px 10px;
        margin-left: 0px;
    }
    .form-btn {
        display: block;
    }
    .signup-form h3 {
        font-size: 18px;
    }
    .signup-form p {
        float: unset;
        margin-bottom: 10px;	
    }
    input.sup-btn {
        border: unset;
        float: unset;
        padding: 11px 30px;
        margin: 10px 0;
        display: inline-block;
    }
    footer.footer-area .social-links {
        margin: 30px 0;
    }
    #footer .gform_wrapper .gform_footer, #footer .gfield {
        width: 99%;
        margin-left: 0!important;
        float: none;
    }
    .header-top-area .social-links a i.fa {
        font-size: 15px;
        float: right;
    }
    .header-top-area .social-links {
        margin-left: 0;
    }
    .h-top-links-sec {
        width: 100%;
    }
    input.btn.donate {
        padding: 15px 30px;
        letter-spacing: 0;
    }
    .h-contact {
        padding-top: 6px;
    }
    .h-t-addres-sec {
        margin-top: 70px;

    }

    .slider-content {
        position: absolute !important;
        top: 30px;
    }
    section.copyright-area p {
        font-size: 18px;
    }
    
    .h-t-addres-sec {
        margin-top: 0;
    }
    div#homepage-sliders {
        /*margin-top: 50px;*/
        background-color: #222;
        /*padding-bottom: 80px;*/
    }
    .slider-content {
        position: unset;
        width: 100%;
    }
    .slider-content a.btn {
        font-size: 16px;
        padding: 8px 30px;
    }
    .owl-dots {
        padding-bottom: 20px;
    }
    
    .recent-news-slider.row {
        margin: 0;
    }

    footer.footer-area .social-links a.facebook{
        margin-left: -10px;
    }
    .about-area iframe {
        width: 100%;
        height: 250px;
    }
    #sidebar ul {
        padding: 0;
    }
}
@media only screen and (max-width: 575px) {
    .logo img {
        width: 290px;
        margin-top: -30px;
    }     
    
    .h-btn {
        margin-top: 25px;
        width: 100%;
        margin-left: 0;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

    .wrapper {
        display: block;
    }

    .mainmenu {
        display: none;
    }
    section#mainmenu-area {
        display: none;
    }
    div#homepage-sliders .owl-dots {
        left: 37%;
    }
    .slider-content {
        top: 10%;
    }
    .material-design-hamburger {
        top:20px;
    }

    .h-t-addres-sec {
        margin-top: 0;
    }
    .h-address {
        margin-top: 30px;
    }
    .h-btn {
        margin-top: 65px;
        margin-left: 30px;
    }
}


